<h1 id="head1">HOMEPAGE</h1>

<br>
<br>

<form id="logout-form" action="/account/logout" method="post">
  <button type="submit">Logout</button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    fetch('/account/is-authorized')
      .then((res) => res.json())
      .then((jsonData) => {
        if(!jsonData.isAuthorized) {
          const h = document.getElementById('head1');
          h.innerText = "NOT AUTHORIZED " + jsonData.isAuthorized;
        }
      })
      ;
  });
</script>
