{{!-- <a href="/account/auth/login">
  <h4>Login</h4>
</a>
<a href="/account/auth/signup">
  <h4>Sign Up</h4>
</a> --}}


<section>
  <div class="container-sm">
    <div class="row  d-flex justify-content-center">
      <div class="col-5">

        <div class="d-flex justify-content-center mt-4">
          <a href="/account/auth/login" style="width: 10em;" class="btn btn-dark">
            <h5>Login</h5>
          </a>
        </div>

        <div class="d-flex justify-content-center mt-4">
          <a href="/account/auth/signup" style="width: 10em;" class="btn btn-dark">
            <h5>Sign Up</h5>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
